<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKUe164MsgOoXvsfwA5Z2srthdKy0kCPw</string>
	<key>GCM_SENDER_ID</key>
	<string>370915085564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pixelstrap.fuzzy</string>
	<key>PROJECT_ID</key>
	<string>ggfix-6e0b9</string>
	<key>STORAGE_BUCKET</key>
	<string>ggfix-6e0b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370915085564:ios:03ef3357cccc8597be1b79</string>
</dict>
</plist>